@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

body {
    background: rgb(19, 19, 19);
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
}

img {
    max-width: 80%;
    max-height: 80%;
}

img.smaller {
    max-width: 65%;
    max-height: 65%;
}

.text {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 3rem;
    color: #fff;
    height: 100%;
    width: 100%;
}

.commentary-card {
    resize: both;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
    background-size: cover;
    background: #353535 no-repeat center;
}

.commentary-card.no-background.graph {
    grid-area: g;
}

.commentary-card.difficulty {
    background-color: #131313FF;
    grid-area: d;
}

.commentary-list {
    font-size: 2rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: scroll;
    background-size: cover;
    background: #131313FF no-repeat center;
    grid-area: c;
}

.Collapsible {
    text-align: left;
    list-style: none;
    user-select: none;
    max-height: 100%;
    font-size: large;
    font-weight: bold;
}

.Collapsible__contentInner {
    padding: 10px;
    border: 1px solid #eceaea;
    border-top: 0;
}

.Collapsible__contentInner.p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
}

.Collapsible__contentInner.p:last-child {
    margin-bottom: 0;
}

.Collapsible__trigger {
    display: block;
    font-weight: 400;
    text-decoration: none;
    position: relative;
    padding: 10px;
    border: 1px ridge white;
}

.Collapsible__trigger:after {
    content: '\25be';
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    transition: transform 300ms;
}

.Collapsible__trigger.is-open:after {
    transform: rotateZ(180deg);
}

.Collapsible:nth-child(odd) {
    color: #262626;
    background: #a1c3f5;
}

.Collapsible:nth-child(even) {
    background: #365992;
}

p {
    font-weight: normal;
    text-align: center;
    font-size: medium;
}

a {
    font-weight: normal;
    text-align: center;
}

a:link {
    color: #020000;
}

a:visited {
    color: #020000;
}

.difficulty-bar {
    width: 90%;
}

.commentary-main {
    resize: both;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 3rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
    background-size: cover;

    grid-area: m;
}

.commentary-main-desc {
    resize: both;
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 3rem;
    height: 100%;
    width: 100%;
    overflow: auto;
    border-radius: 4px;
    transition: all 500ms;
    background-size: cover;
    grid-area: e;
}

.commentary-card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0 0.175em 0.5em;
    transform: translateY(-3px) scale(1.05);
}

.commentary-animated-grid {
    height: 85vh;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;

    display: grid;
    gap: 1rem;

    /* Explicit grid */
    grid-template-areas:
    'e  e  e  g  g  g  g  d  d'
    'c  c  c  m  m  m  m  m  h'
    'c  c  c  m  m  m  m  m  r'
    'c  c  c  m  m  m  m  m  u'
    'c  c  c  m  m  m  m  m  x';

    grid-template-columns: 11% 11% 11% auto auto auto auto auto auto;
    grid-template-rows: 15% auto auto auto auto;

    --stagger-delay: 100ms;
}

@keyframes cardEntrance {
    from {
        opacity: 0;
        transform: scale(0.3);
        filter: hue-rotate(180deg);
    }
    to {
        opacity: 1;
        transform: scale(1);
        filter: hue-rotate(0deg);
    }
}

.commentary-card {
    background-color: rgb(44, 44, 44);
    animation: cardEntrance 700ms ease-out;
    animation-fill-mode: backwards;
    user-select: none;
}

.commentary-card.no-background {
    background-color: #131313FF;
    animation: cardEntrance 700ms ease-out;
    animation-fill-mode: backwards;
    user-select: none;
}

.commentary-card.no-background.hint {

    grid-area: h;
}

.commentary-card.no-background.restart {
    grid-area: r;
}

.commentary-card.no-background.undo {
    grid-area: u;
}

.commentary-card.no-background.x {
    grid-area: x;
}

.commentary-card:nth-child(1) {
    animation-delay: calc(1 * var(--stagger-delay));
}

.commentary-card:nth-child(2) {
    animation-delay: calc(2 * var(--stagger-delay));
}

.commentary-card:nth-child(3) {
    animation-delay: calc(3 * var(--stagger-delay));
}

.commentary-card:nth-child(4) {
    animation-delay: calc(4 * var(--stagger-delay));
}

.commentary-card:last-child {
    animation-delay: calc(5 * var(--stagger-delay));
}