@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

body {
    background: rgb(19, 19, 19);
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    font-size: xx-large;
}

.home-animated-grid {
    height: 85vh;

    display: grid;
    gap: 1rem;

    /* Explicit grid */
    grid-template-areas:
    'a  a  a'
    'b  c  d'
    'm  m  m';

    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;

    --stagger-delay: 100ms;
}

.home-stationary {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    font-size: 2rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    background-size: cover;
    background: #131313FF no-repeat center;
}

.home-stationary.a {
    grid-area: a;
}

.home-stationary.b {
    grid-area: b;
}

.home-stationary.c {
    grid-area: c;
}

.home-stationary.d {
    grid-area: d;
}

.home-stationary.m {
    grid-area: m;
}