@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

body {
    background: rgb(19, 19, 19);
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
}

h2.game {
    margin: 2px;
    color: white;
}

h3 {
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

p.left {
    text-align: left;
}

input.input-box {
    width: 100%;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #bed4f3;
    color: #000000;
    font-size: large;
}

.multiplayer-button {
    border: thin;
    font-size: large;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    width: 100%;
    background: #a1c3f5;
    color: black;
    border-radius: 4px;
}

.rcw-conversation-container .rcw-header {
    background-color: #365992 !important;
    border-radius: 10px 10px 0 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px 0 25px
}

.quick-button {
    background: none;
    border-radius: 15px;
    border: 2px solid #365992 !important;
    font-weight: 700;
    padding: 5px 10px;
    cursor: pointer;
    outline: 0
}

.rcw-launcher {
    background-color: #365992 !important;
    right: 0 !important;
}

.quick-button:active {
    background: #365992 !important;
    color: #fff
}

.rcw-conversation-container {
    color: black;
    background-color: black;
}

.rcw-message > .rcw-response {
    color: #000000;
}

a.variation {
    font-weight: bold;
    text-align: center;
    color: #000000;
}

a.variation:link {
    color: #000000;
}

a.variation:visited {
    color: #000000;
}

a {
    font-weight: normal;
    text-align: center;
    color: white;
}

a:link {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

img.turn_img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

img.bigger {
    max-width: 100%;
    max-height: 100%;
}

img.smaller {
    max-width: 65%;
    max-height: 65%;
}

.statistic {
    font-weight: normal;
    font-size: medium;
}

.text {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 3rem;
    color: #fff;
    height: 100%;
    width: 100%;
}

.multiplayer-card {
    background-color: rgb(44, 44, 44);
    animation: cardEntrance 700ms ease-out;
    animation-fill-mode: backwards;
    user-select: none;
}

.multiplayer-main {
    resize: both;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 3rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    background-size: cover;
    grid-area: b;
}

.multiplayer-card.no-background {
    background-color: #131313FF;
    animation: cardEntrance 700ms ease-out;
    animation-fill-mode: backwards;
    user-select: none;
}

.multiplayer-card.no-background.click:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0 0.175em 0.5em;
    transform: translateY(-3px) scale(1.05);
}

.multiplayer-animated-grid {
    height: 85vh;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;

    display: grid;
    gap: 1rem;

    /* Explicit grid */
    grid-template-areas:
    'n  m  m  m  g'
    'j  b  b  b  l'
    'c  b  b  b  l'
    'k  t  t  t  x';

    grid-template-columns: 22% auto auto auto 22%;
    grid-template-rows: 15% auto auto 15%;

    --stagger-delay: 100ms;
}

.multiplayer-card.no-background.n {
    grid-area: n;
    animation-delay: calc(1 * var(--stagger-delay));
}

.multiplayer-card.no-background.time {
    grid-area: t;
    animation-delay: calc(3 * var(--stagger-delay));
}

.multiplayer-card.no-background.join {
    grid-area: j;
    animation-delay: calc(5 * var(--stagger-delay));
}

.multiplayer-card.no-background.chat {
    overflow: scroll;
    grid-area: c;
    animation-delay: calc(7 * var(--stagger-delay));
}

.multiplayer-card.no-background.list {
    grid-area: l;
    animation-delay: calc(11 * var(--stagger-delay));
}

.multiplayer-card.no-background.k {
    grid-area: k;
    animation-delay: calc(13 * var(--stagger-delay));
}

.multiplayer-card.no-background.graph {
    grid-area: g;
    animation-delay: calc(15 * var(--stagger-delay));
}

.multiplayer-card.no-background.turn {
    grid-area: m;
    animation-delay: calc(17 * var(--stagger-delay));
}

.multiplayer-card.no-background.x {
    grid-area: x;
    animation-delay: calc(20 * var(--stagger-delay));
}

.pgn {
    margin: auto;
    grid-area: e;
    animation-delay: calc(9 * var(--stagger-delay));
}

@keyframes cardEntrance {
    from {
        opacity: 0;
        transform: scale(0.5);
        filter: hue-rotate(180deg);
    }
    to {
        opacity: 1;
        transform: scale(1);
        filter: hue-rotate(0deg);
    }
}